<article class='card mb-3'>
  <div class='card-body'>
    <p class='lead mb-0'>{{url.originURL}}</p>
    <a
      href='http://localhost:5000/redirect/{{url.shortURL}}'
      target='_blank'
      class='nav-link fs-4 px-0'
    >
      http://localhost:5000/redirect/{{url.shortURL}}
    </a>

    <div class='mt-2'>
      <a href='/eliminar/{{url._id}}' class='btn btn-danger'>Eliminar</a>
      <a href='/editar/{{url._id}}' class='btn btn-warning'>Editar</a>
      <button
        type='button'
        class='btn btn-info'
        data-shortUrl='{{url.shortURL}}'
      >Copiar</button>
    </div>
  </div>
</article>