<h1 class='text-center'>Hola, {{username}}</h1>
<p class='text-center'>Edita aquí tu perfil</p>

{{#each mensajes}}
  <div class='alert alert-dark mb-3'>{{this.msg}}</div>
{{/each}}

<div class='my-3 text-center'>
  <img
    src='/img/perfil/{{imagePath}}'
    alt='Foto de perfil'
    class='rounded-circle'
  />
</div>

<form
  action='/profile/image?_csrf={{csrfToken}}'
  enctype='multipart/form-data'
  method='POST'
>
  <p class='lead mb-0'>Edita tu foto de perfil:</p>
  <input
    class='form-control mb-3'
    type='file'
    name='filePicture'
    id='formFile'
  />

  <button type='submit' class='btn btn-dark mb-1'>Actualizar Foto de Perfil</button>
</form>

<form action='/profile/username' method='POST'>
  <input type='hidden' name='_csrf' value='{{csrfToken}}' />
  <p class='lead mb-0'>Edita tu nombre de usuario:</p>
  <input
    class='form-control mb-3'
    type='text'
    name='tUsername'
    placeholder='Introduce un nuevo username'
    aria-label='input'
    value='{{username}}'
    autocomplete='off'
  />

  <button type='submit' class='btn btn-dark'>Actualizar Username</button>
</form>